#
# FOFB database file
#
# Authors: Melissa Aguiar
#
# Created Dez. 03, 2021
#

############################
# RTM LAMP parameters
############################

record(longout,"$(P)$(R)RtmLampStatus-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set RTM LAMP status register")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_STA")
}
record(longin,"$(P)$(R)RtmLampStatus-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get RTM LAMP status register")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_STA")
}

record(longout,"$(P)$(R)RtmLampDacDataFromWb-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set data from FPGA or wishbone")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CTL_DAC_DATA_FROM_WB")
}
record(longin,"$(P)$(R)RtmLampDacDataFromWb-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get data from FPGA or wishbone")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CTL_DAC_DATA_FROM_WB")
}

record(mbbo,"$(P)$(R)RtmLampAmpIFlagL$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set amplifier left overcurrent flag")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_IFLAG_L")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}
record(mbbi,"$(P)$(R)RtmLampAmpIFlagL$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get amplifier left overcurrent flag")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_IFLAG_L")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}

record(mbbo,"$(P)$(R)RtmLampAmpTFlagL$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set amplifier left overtemperature flag")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_TFLAG_L")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}
record(mbbi,"$(P)$(R)RtmLampAmpTFlagL$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get amplifier left overtemperature flag")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_TFLAG_L")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}

record(mbbo,"$(P)$(R)RtmLampAmpIFlagR$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set amplifier right overcurrent flag")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_IFLAG_R")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}
record(mbbi,"$(P)$(R)RtmLampAmpIFlagR$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get amplifier right overcurrent flag")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_IFLAG_R")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}

record(mbbo,"$(P)$(R)RtmLampAmpTFlagR$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set amplifier right overtemperature flag")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_TFLAG_R")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}
record(mbbi,"$(P)$(R)RtmLampAmpTFlagR$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get amplifier right overtemperature flag")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_STA_AMP_TFLAG_R")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"over")
    field(ONST,"ok")
}

record(longout,"$(P)$(R)RtmLampAmpEn$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set amplifier enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_AMP_EN")
}
record(longin,"$(P)$(R)RtmLampAmpEn$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get amplifier enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_AMP_EN")
}

record(longout,"$(P)$(R)RtmLampPIOLTriangEn$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI open-loop triangular wave enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_OL_TRIANG_ENABLE")
}
record(longin,"$(P)$(R)RtmLampPIOLTriangEn$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI open-loop triangular wave enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_OL_TRIANG_ENABLE")
}

record(longout,"$(P)$(R)RtmLampPIOLSquareEn$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI open-loop square wave enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_OL_SQUARE_ENABLE")
}
record(longin,"$(P)$(R)RtmLampPIOLSquareEn$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI open-loop square wave enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_OL_SQUARE_ENABLE")
}

record(longout,"$(P)$(R)RtmLampPISPSquareEn$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI closed-loop square wave enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_SP_SQUARE_ENABLE")
}
record(longin,"$(P)$(R)RtmLampPISPSquareEn$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI closed-loop square wave enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_SP_SQUARE_ENABLE")
}

record(longout,"$(P)$(R)RtmLampPIEn$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_ENABLE")
}
record(longin,"$(P)$(R)RtmLampPIEn$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_CTL_PI_ENABLE")
}

record(longout,"$(P)$(R)RtmLampDacData$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set data to be sent to DAC")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_DAC_DATA")
}
record(longin,"$(P)$(R)RtmLampDacData$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get data to be sent to DAC")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_DAC_DATA")
}

record(longout,"$(P)$(R)RtmLampDacWr$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"write DAC data to external IC")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_DAC_WR")
}
record(longin,"$(P)$(R)RtmLampDacWr$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"write DAC data to external IC")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_DAC_WR")
}

record(longout,"$(P)$(R)RtmLampPIKP$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI KP parameter")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_PI_KP_DATA")
}
record(longin,"$(P)$(R)RtmLampPIKP$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI KP parameter")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_PI_KP_DATA")
}

record(longout,"$(P)$(R)RtmLampPITI$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI TI parameter")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_PI_TI_DATA")
}
record(longin,"$(P)$(R)RtmLampPITI$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI TI parameter")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_PI_TI_DATA")
}

record(longout,"$(P)$(R)RtmLampPISP$(RTM_CHAN)-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI setpoint")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_PI_SP_DATA")
}
record(longin,"$(P)$(R)RtmLampPISP$(RTM_CHAN)-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI setpoint")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_CH_0_PI_SP_DATA")
}

record(longout,"$(P)$(R)RtmLampPIOLDacCntMax-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI open-loop counter max")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_PI_OL_DAC_CNT_MAX_DATA")
}
record(longin,"$(P)$(R)RtmLampPIOLDacCntMax-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI open-loop counter max")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_PI_OL_DAC_CNT_MAX_DATA")
}

record(longout,"$(P)$(R)RtmLampPISPLimInf-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set PI setpoint inferior limit")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_PI_SP_LIM_INF_DATA")
}
record(longin,"$(P)$(R)RtmLampPISPLimInf-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get PI setpoint inferior limit")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RTMLAMP_OHWR_PI_SP_LIM_INF_DATA")
}

