# Author: Érico Nogueira
# Copyright (c) 2022 CNPEM

# Reference orbits (in X and Y) for all BPM devices

record(bo, "$(P)$(R)MaxOrbDistortionEnbl-Sel"){
    field(DESC, "Enable FOFB orbit interlock")
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(PINI, "YES")
    field(OUT, "@asyn($(PORT))INTLK_ORB_EN")
    field(ZNAM, "disabled")
    field(ONAM, "enabled")
}
record(bi, "$(P)$(R)MaxOrbDistortionEnbl-Sts"){
    field(DESC, "Enable FOFB orbit interlock")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT))INTLK_ORB_EN")
    field(ZNAM, "disabled")
    field(ONAM, "enabled")
}

record(bo, "$(P)$(R)Reset-Cmd"){
    field(DESC, "Clear FOFB error flags")
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT))INTLK_CLR")
    field(MASK, "1")
    field(HIGH, "1")
    field(ZNAM, "nothing")
    field(ONAM, "clear_flags")
}

record(longin, "$(P)$(R)Intlk-Mon"){
    field(DESC, "Monitor FOFB interlock status")
    field(DTYP, "asynInt32")
    field(SCAN, ".1 second")
    field(INP, "@asyn($(PORT))INTLK_STA")
    field(HIHI, "1")
}

record(longout, "$(P)$(R)MaxOrbDistortion-SP"){
    field(DESC, "Max orbit distortion for FOFB interlock")
    field(EGU, "nm")
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(PINI, "YES")
    field(OUT, "@asyn($(PORT))ORB_DISTORT_LIMIT")
}
record(longin, "$(P)$(R)MaxOrbDistortion-RB"){
    field(DESC, "Max orbit distortion for FOFB interlock")
    field(EGU, "nm")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT))ORB_DISTORT_LIMIT")
}

record(waveform, "$(P)$(R)RefOrb-SP"){
    field(DESC, "Set reference orbit")
    field(DTYP, "asynInt32ArrayOut")
    field(SCAN, "Passive")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))REF_ORBIT")
    field(FTVL, "LONG")
    field(NELM, "320")
    field(PINI, "YES")
}
record(waveform, "$(P)$(R)RefOrb-RB"){
    field(DESC, "Get reference orbit")
    field(DTYP, "asynInt32ArrayIn")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))REF_ORBIT")
    field(FTVL, "LONG")
    field(NELM, "320")
}

record(longin, "$(P)$(R)FOFBInvRepMatFixedPointPos-Cte"){
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))COEFFS_FIXED")
}
record(longin, "$(P)$(R)FOFBAccGainsFixedPointPos-Cte"){
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))ACC_GAINS_FIXED")
}
