# Author: Érico Nogueira
# Copyright (c) 2022 CNPEM

# Reference orbits (in X and Y) for all BPM devices

record(waveform, "$(P)$(R)RefOrbit-SP"){
    field(DESC, "Set reference orbit")
    field(DTYP, "asynInt32ArrayOut")
    field(SCAN, "Passive")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))REF_ORBIT")
    field(FTVL, "LONG")
    field(NELM, "320")
    field(PINI, "YES")
}
record(waveform, "$(P)$(R)RefOrbit-RB"){
    field(DESC, "Get reference orbit")
    field(DTYP, "asynInt32ArrayIn")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))REF_ORBIT")
    field(FTVL, "LONG")
    field(NELM, "320")
}

record(longin, "$(P)$(R)FOFBInvRepMatFixedPointPos-Cte"){
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))COEFFS_FIXED")
}
record(longin, "$(P)$(R)FOFBAccGainsFixedPointPos-Cte"){
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),0,$(TIMEOUT))ACC_GAINS_FIXED")
}
