# FOFB Processing database file (per channel records)
# Author: Érico Nogueira
# Copyright (c) 2022 CNPEM

record(mbbo, "$(S)$(RTM_CHAN)OpMode-Sel"){
    field(DESC, "FOFB operation mode")
    field(SCAN, "Passive")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "manual")
    field(ONST, "fofb")
    field(FLNK, "$(S)$(RTM_CHAN)OpModeHelperChooseOperation.PROC CA")
}
record(mbbi, "$(S)$(RTM_CHAN)OpMode-Sts"){
    field(DESC, "FOFB operation mode")
    field(SCAN, "Passive")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(ZRST, "manual")
    field(ONST, "fofb")
    field(TWST, "unknonwn")
}

# OpMode starts here, by choosing which operation we are going to run
record(calcout, "$(S)$(RTM_CHAN)OpModeHelperChooseOperation"){
    field(SCAN, "Passive")
    field(INPA, "$(S)$(RTM_CHAN)OpMode-Sel")
    field(CALC, "(A=1) ? 2 : 1")
    field(OUT, "$(S)$(RTM_CHAN)OpModeHelperTriggerOperation.SELN CA")
    field(FLNK, "$(S)$(RTM_CHAN)OpModeHelperTriggerOperation.PROC CA")
}
record(fanout, "$(S)$(RTM_CHAN)OpModeHelperTriggerOperation"){
    field(SCAN, "Passive")
    field(SELM, "Specified")
    field(SELL, "0")
    field(LNK1, "$(S)$(RTM_CHAN)OpModeHelperPauseAccumulator")
    field(LNK2, "$(S)$(RTM_CHAN)OpModeHelperSetPSMode")
}

# pause accumulator + copy current happens only for MANUAL
record(longout, "$(S)$(RTM_CHAN)OpModeHelperPauseAccumulator"){
    field(SCAN, "Passive")
    field(VAL, "1")
    field(OUT, "$(S)$(RTM_CHAN)FOFBAccFreeze-Sel CA")
    field(FLNK, "$(S)$(RTM_CHAN)CurrentRawRefPassive.PROC PP")
}
# this record will be triggered by FLNK in CurrentRawRefPassive
record(calcout, "$(S)$(RTM_CHAN)OpModeHelperCopyCurrent"){
    field(SCAN, "Passive")
    field(INPA, "$(S)$(RTM_CHAN)CurrentRawRefPassive CA")
    field(CALC, "A")
    field(OUT, "$(S)$(RTM_CHAN)CurrentRaw-SP CA")
    field(FLNK, "$(S)$(RTM_CHAN)OpModeHelperSetPSMode.PROC CA")
}

# set ps mode + (possibly) resume accumulator happens for both!
record(calcout, "$(S)$(RTM_CHAN)OpModeHelperSetPSMode"){
    field(SCAN, "Passive")
    field(INPA, "$(S)$(RTM_CHAN)OpMode-Sel")
    field(CALC, "(A=1) ? 4 : 2")
    field(OUT, "$(S)$(RTM_CHAN)CurrLoopMode-Sel CA")
    field(FLNK, "$(S)$(RTM_CHAN)OpModeHelperResumeAccumulator.PROC CA")
}
record(calcout, "$(S)$(RTM_CHAN)OpModeHelperResumeAccumulator"){
    field(SCAN, "Passive")
    field(INPA, "$(S)$(RTM_CHAN)OpMode-Sel")
    # if in fofb mode, resume accumulator
    field(CALC, "(A=1) ? 0 : 1")
    field(OUT, "$(S)$(RTM_CHAN)FOFBAccFreeze-Sel CA")
}

# propagate CurrLoopMode-Sts back to OpMode-Sts
record(calcout, "$(S)$(RTM_CHAN)OpModeHelperSetOpMode"){
    field(SCAN, "Passive")
    field(INPA, "$(S)$(RTM_CHAN)CurrLoopMode-Sts CP")
    field(CALC, "(A=2) ? 0 : ((A=4) ? 1 : 2)")
    field(OUT, "$(S)$(RTM_CHAN)OpMode-Sts CA")
}

record(ao, "$(S)$(RTM_CHAN)FOFBAccGain-SP"){
    field(DESC, "Accumulator gain")
    field(DTYP, "asynFloat64")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))ACC_GAIN")
    field(PINI, "YES")
    field(VAL, "0.0")
}
record(ai, "$(S)$(RTM_CHAN)FOFBAccGain-RB"){
    field(DESC, "Accumulator gain")
    field(DTYP, "asynFloat64")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))ACC_GAIN")
}

record(calcout, "$(S)$(RTM_CHAN)FOFBAccGainHelperMax"){
    field(SCAN, "Passive")
    field(INPA, "$(P)$(R)FOFBAccGainsFixedPointPos-Cte CP")
    # 0x7fffffff shifted A bits to the right
    # # FIXME: needs 0.9999 scaling due to otherwise rounding to a bad value
    field(CALC, "0.9999 * 2147483647.0 / (2.0 ^ A)")
    field(OUT, "$(S)$(RTM_CHAN)FOFBAccGain-SP.DRVH CA")
}
record(calcout, "$(S)$(RTM_CHAN)FOFBAccGainHelperMin"){
    field(SCAN, "Passive")
    field(INPA, "$(S)$(RTM_CHAN)FOFBAccGainHelperMax CP")
    field(CALC, "-A")
    field(OUT, "$(S)$(RTM_CHAN)FOFBAccGain-SP.DRVL CA")
}

record(bo, "$(S)$(RTM_CHAN)FOFBAccFreeze-Sel"){
    field(DESC, "Freeze accumulator")
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))ACC_FREEZE")
    field(PINI, "YES")
    field(ZNAM, "unfrozen")
    field(ONAM, "frozen")
}
record(bi, "$(S)$(RTM_CHAN)FOFBAccFreeze-Sts"){
    field(DESC, "Freeze accumulator")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))ACC_FREEZE")
    field(ZNAM, "unfrozen")
    field(ONAM, "frozen")
}

record(bo, "$(S)$(RTM_CHAN)FOFBAccClear-Cmd"){
    field(DESC, "Clear accumulator")
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))ACC_CLEAR")
    field(PINI, "YES")
    field(MASK, "1")
    field(HIGH, "1")
    field(ZNAM, "nothing")
    field(ONAM, "clear_accumulator")
}

record(longout, "$(S)$(RTM_CHAN)FOFBAccSatMaxRaw-SP"){
    field(DESC, "Set ctrl max current")
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_MAX")
}
record(longin, "$(S)$(RTM_CHAN)FOFBAccSatMaxRaw-RB"){
    field(DESC, "Get ctrl max current")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_MAX")
}

record(ao, "$(S)$(RTM_CHAN)FOFBAccSatMax-SP"){
    field(DESC, "Set ctrl max current")
    field(SCAN, "Passive")
    field(PINI, "YES")
    field(EGU, "A")
    field(DRVH,"0.95")
    field(DRVL,"-0.95")
    field(FLNK, "$(S)$(RTM_CHAN)FOFBAccSatMaxConv.PROC CA")
}
record(calcout, "$(S)$(RTM_CHAN)FOFBAccSatMaxConv"){
    field(SCAN,"Passive")
    field(INPA,"$(S)$(RTM_CHAN)FOFBAccSatMax-SP")
    field(INPB,"$(S)$(RTM_CHAN)CurrGain-SP")
    field(INPC,"$(S)$(RTM_CHAN)CurrOffset-SP")
    field(CALC,"A/B+C")
    field(OUT,"$(S)$(RTM_CHAN)FOFBAccSatMaxRaw-SP CA")
}
record(calc, "$(S)$(RTM_CHAN)FOFBAccSatMax-RB"){
    field(DESC, "Get ctrl max current")
    field(EGU, "A")
    field(INPA,"$(S)$(RTM_CHAN)FOFBAccSatMaxRaw-RB CP")
    field(INPB,"$(S)$(RTM_CHAN)CurrGain-SP")
    field(INPC,"$(S)$(RTM_CHAN)CurrOffset-SP")
    field(CALC,"B*(A-C)")
}

record(longout, "$(S)$(RTM_CHAN)FOFBAccSatMinRaw-SP"){
    field(DESC, "Set ctrl min current")
    field(DTYP, "asynInt32")
    field(SCAN, "Passive")
    field(OUT, "@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_MIN")
}
record(longin, "$(S)$(RTM_CHAN)FOFBAccSatMinRaw-RB"){
    field(DESC, "Get ctrl min current")
    field(DTYP, "asynInt32")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_MIN")
}

record(ao, "$(S)$(RTM_CHAN)FOFBAccSatMin-SP"){
    field(DESC, "Set ctrl max current")
    field(SCAN, "Passive")
    field(PINI, "YES")
    field(EGU, "A")
    field(DRVH,"0.95")
    field(DRVL,"-0.95")
    field(FLNK, "$(S)$(RTM_CHAN)FOFBAccSatMinConv.PROC CA")
}
record(calcout, "$(S)$(RTM_CHAN)FOFBAccSatMinConv"){
    field(SCAN,"Passive")
    field(INPA,"$(S)$(RTM_CHAN)FOFBAccSatMin-SP")
    field(INPB,"$(S)$(RTM_CHAN)CurrGain-SP")
    field(INPC,"$(S)$(RTM_CHAN)CurrOffset-SP")
    field(CALC,"A/B+C")
    field(OUT,"$(S)$(RTM_CHAN)FOFBAccSatMinRaw-SP CA")
}
record(calc, "$(S)$(RTM_CHAN)FOFBAccSatMin-RB"){
    field(DESC, "Get ctrl max current")
    field(EGU, "A")
    field(INPA,"$(S)$(RTM_CHAN)FOFBAccSatMinRaw-RB CP")
    field(INPB,"$(S)$(RTM_CHAN)CurrGain-SP")
    field(INPC,"$(S)$(RTM_CHAN)CurrOffset-SP")
    field(CALC,"B*(A-C)")
}

record(waveform, "$(S)$(RTM_CHAN)InvRespMatRow-SP"){
    field(DESC, "Set FOFB coefficients")
    field(DTYP, "asynFloat32ArrayOut")
    field(SCAN, "Passive")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))FOFB_COEFF")
    field(FTVL, "FLOAT")
    field(NELM, "320")
    field(PINI, "YES")
}
record(waveform, "$(S)$(RTM_CHAN)InvRespMatRow-RB"){
    field(DESC, "Get FOFB coefficients")
    field(DTYP, "asynFloat32ArrayIn")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))FOFB_COEFF")
    field(FTVL, "FLOAT")
    field(NELM, "320")
}
