# Set externally
#epicsEnvSet("FOFB_ENDPOINT","tcp://10.2.117.47:9999")
#epicsEnvSet("FOFB_NUMBER","17")
epicsEnvSet("FOFB_VERBOSE","0")
epicsEnvSet("FOFB_TIMEOUT","2000")

epicsEnvSet("WAVEFORM_MAX_POINTS", "100000")
epicsEnvSet("QSIZE", "20")
epicsEnvSet("NCHANS", "10")
epicsEnvSet("RING_SIZE", "10000")
epicsEnvSet("MAXBUFFERS", "0")
# 50MB limit for NDArrays
epicsEnvSet("MAXMEMORY", "50000000")
epicsEnvSet("COEFF_ARRAY_SIZE", "20")

# PV prefixes
epicsEnvSet("P", "${EPICS_PV_AREA_PREFIX}")
epicsEnvSet("R", "${EPICS_PV_DEVICE_PREFIX}")

epicsEnvSet("PORT", "FOFB")
epicsEnvSet("FOFB_NAME","FOFB")
